body    
    {
        background-image: url(assets/bg1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }


.tag
    {
        position: absolute;
        width: 900px;
        height: 50px;
        top: 70px;
        left: 300px;
        background-color: white;
    }

.signup input
    {
        position: relative;
        top : 15px;
        left: 600px;
        width: 60px;
        color: black;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        border-color: transparent;
        background-color: transparent;
    }
.signup input:hover
    {
        color: blue;
    }

.login input
    {
        position: absolute;
        top : 15px;
        left: 700px;
        width: 50px;
        color: black;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        border-color: transparent;
        background-color: transparent;
    }
.login input:hover
    {
        color: blue;
    }
.About input
    {
        position: absolute;
        top : 15px;
        left: 500px;
        width: 70px;
        background-color: transparent;
        color: black;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        border-color: transparent;
    }

.About input:hover
{
    color: blue;
}
.Contact input
    {
        position: absolute;
        top : 15px;
        left: 800px;
        width: 80px;
        background-color: transparent;
        color: black;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        border-color: transparent;
    }

.Contact  input:hover
    {
        color: blue;
    }

.content
    {
        position: absolute;
        top: 150px;
        left: 200px;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 14px;
        word-break: keep-all;

    }

.loginpage fieldset
    {
        position: absolute;
        top: 300px;
        left: 600px;
        border-color: transparent;
       
     
    }

.loginpage label
    {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 14px;
  
    }

    .loginpage input
    {
        font-family: Arial, Helvetica, sans-serif;
        font-style: italic;
        font-size: 14px;  
        border-color: transparent;
        border-radius: 10px;
        background-color: transparent;

    }

    .btnlog input
    {
        width: 100px;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        background-color: white;

    }

    .btnlog input:hover
    {
        background-color: blue;
    }

    
.loginpage fieldset
    {
        position: absolute;
        top: 100px;
        left: 900px;
        border-color: transparent;
       
     
    }
    
.loginpage img
{
    position: relative;
    width: 500px;
    height: 400px;
    top: 100px;
    left: 100px;
    
}

.loginpage label
    {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 14px;
  
    }

    .loginpage input
    {
        font-family: Arial, Helvetica, sans-serif;
        font-style: italic;
        font-size: 14px;  
        border-color: transparent;
        border-radius: 10px;
        background-color: transparent;

    }

    .btnlog input
    {
        width: 100px;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        background-color: white;

    }

    .btnlog input:hover
    {
        background-color: blue;
    }

    
.signuppage fieldset
{
    position: absolute;
    top: 100px;
    left: 900px;
    border-color: white;
    border-radius: 10px;
   
   
 
}

.cinfo
    {
        position: absolute;
    position: absolute;
        top: 250px;
        left: 500px;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 20px;
        word-break: keep-all;
    }

.aboutpage
{
    position: absolute;
    position: absolute;
        top: 150px;
        left: 100px;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 20px;
        word-break: keep-all;

}

.signuppage label
{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 12px;

}

.signuppage input
{
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 14px;  
    border-color: transparent;
    border-radius: 10px;
    background-color: transparent;

}

.btnsin input
{
    width: 100px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    background-color: white;

}

.btnsin input:hover
{
    background-color: blue;
}

.signuppage img
{
    position: relative;
    width: 500px;
    height: 400px;
    top: 100px;
    left: 100px;
    
}
h1{
    position: relative;
    left: 60px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-decoration: underline;
}
.bcktohome input
{position: absolute;
    top: 600px;
    left: 600px;
    width: 100px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    background-color: white;
    border-color: white;
    border-radius: 10px;
}

.bcktohome input:hover
{
    background-color: rgb(214, 192, 192);
}

.logo img
    {
        
        width: 200px;
        height: 200px;
        border-radius: 100px;
        
        
    }