* {
    box-sizing: border-box;
}

/* HTML and BODY styling setting margin and padding to 0px to avoid unwanted space */
html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    z-index: 10;
}

/* to hide the overflow contents from header and section */
header,
section {
    overflow-x: hidden;
}

/* Targeting anchor tag in the header section */
header a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    color: whitesmoke;
}

/* header background image */
header {
    background-image: url(assets/bg/header.jpg);
    position: relative;
    height: 101vmin;
}

/*padding last child for nav bar */
header .nav-item:last-child {
    padding-right: 10.5em;
}

/* padding for the items inside nav bar */
header .nav-item {

    padding: 0.2em;
    margin: 2px;
}

/* styling for dropdown menu */
header .dropdown {

    padding: 0.2em;
    margin: 10px;
    color: white;
}

/* hover effect for .dropdown anchor tag */
.dropdown-toggle a:hover {
    color: white;
}

/* padding for the brand  */
header .navbar-brand a {
    padding-left: 4rem;

}


/* header a:hover {
    color: orange;
} */

/* wrapper class to make order button to allign in center */
.wrapper {
    text-align: center;
}

/* positioning the button inside the wrapper class */
.wrapper .button {
    position: absolute;
    top: 50%;
}

/* changing color for .dropdown from blue to white */
#dom {
    color: white;
}

/* Adding hover effect on .dropdown */
#dom :hover {
    color: white;
}

/* setting some padding for header contents inside col-md-7 */
header .row .col-md-7 {
    padding: 22vmin 1vmin;
    padding-bottom: 35vmin;
    margin-left: 2em;

}

/* styling the paragraph contents of title section */
.title p {
    padding: 1vmin;
    letter-spacing: 4px;
    color: whitesmoke;
    text-align: center;
    font-weight: bold;


}

/* styling the heading contents of title section */

.title h1 {
    font-size: 10vmin;
    font-weight: bold;
    padding: 0.2em 0em;
    color: whitesmoke;
    text-align: center;


}

/* setting background image for section-1 */
.section-1 {
    background-image: url(assets/bg/main1.jpg);
    color: white;

}

/* setting background image for section-3 */

.section-3 {
    position: relative;
    background-image: url(assets/bg/main3.jpg);
    height: 115vmin;
    z-index: -2;


}

/* positioning the contents inside the cover class */
.cover .content {
    position: relative;
    top: 30vmin;
    /* color: orange; */
}

/* adjustiing font-size for the heading inside the cover class */
.cover .content h1 {
    font-size: 5em;
}

/* formation of a circle using border radius and positioning the same */
.numbers .circle {
    position: relative;
    top: 40vmin;
    color: white;
    text-align: center;
    width: 10rem;
    height: 10rem;
    padding: 2vmin;
    border: 5px white solid;
    margin-left: 10.2rem;
    border-radius: 500em;
}

/* styling contents inside circle */
.numbers .circle h1 {
    font-size: 3em;
    font-weight: bolder;
}

/* styling contents inside circle */
.numbers .circle p {
   
    font-size: 3em;
    color: whitesmoke;
    font-weight: bolder;
    font-size: 2em;
}

/* setting background image for .section-5 */
.section-5 {
    position: relative;
    background-image: url(assets/bg/main5.jpg);
    height: 105vmin;
}

/* styling review heading */
.row .review h1 {
    position: relative;
    font-size: 5em;

    color: white;

}

/* styling review image making the image to look like a circle */
.review img {
    position: relative;
    height: 300px;
    width: 300px;
    border-radius: 200px;
    top: 5vmin;
}

/* styling review heading h6*/

.row .review h6 {
    position: relative;

    color: white;
}

/* setting background image for section-6 */
.section-6 {
    position: relative;
    background-image: url(assets/bg/main6.jpg);
    height: 105vmin;
}

/* styling news letter heading */
.row .news h1 {
    position: relative;
    font-size: 5em;
    top: 40vmin;
}

/* styling news letter heading h6 */
.row .news h6 {
    position: relative;
    top: 40vmin;
}

/* styling input group */
.input-group {

    position: relative;
    top: 40vmin;
    margin: 2rem;
    width: 90vmin;

}

/* setting background image for footer */
footer {
    background-image: url(assets/bg/footer.jpg);
}

/* setting text color for the contents inside the footer */
footer .col-md-3 {
    color: whitesmoke;
}
/* setting text color for the contents inside the footer */

footer .col-md-4 {
    color: whitesmoke;
}
/* setting text color for the contents inside the footer */

footer .col-md-2 {
    color: whitesmoke;
}

/* setting backgroung image for section-2 */
.section-2 {

    background-image: url(assets/bg/main2.jpg);
    height: 101vmin;


}

/* styling image inside section-2  */
.section-2 .col-md-5 img {
    position: relative;
    border-radius: 60vmin;
    height: 50vmin;
    width: 50vmin;
    margin-top: 22vmin;
    margin-right: 8vmin;
}

/* styling the text contents inside the section-2 h1 */
.section-2 .col-md-7 h1 {
    font-size: 10vmin;
    font-weight: bold;
    padding: 0.2em 0em;
    color: black;
    margin-top: 25vmin;
    margin-right: 8vmin;

}

/* styling the text contents inside section-2 h6 */
.section-2 .col-md-7 h6 {
    padding: 1vmin;
    letter-spacing: 4px;
    color: black;
    margin-top: 1vmin;
    margin-right: 8vmin;

}

/* setting background image for section-4 */
.section-4 {
    position: relative;
    background-image: url(assets/bg/main4.jpg);
    height: 109vmin;
    overflow-y: overlay;

}

/* positioning the section-4 col-5 image */
.section-4 .col-md-5 img {
    position: relative;
    border-radius: 60vmin;
    height: 50vmin;
    width: 50vmin;
    margin-top: 22vmin;
    margin-right: 8vmin;
}

/* styling heading h1 inside section-4 */
.section-4 .col-md-7 h1 {
    font-size: 10vmin;
    font-weight: bold;
    padding: 0.2em 0em;
    color: whitesmoke;
    margin-top: 30vmin;
    margin-right: 8vmin;

}

/* styling heading h6 inside section-4 */
.section-4 .col-md-7 h6 {
    padding: 1vmin;
    letter-spacing: 4px;
    color: whitesmoke;
    margin-top: 1vmin;
    margin-right: 8vmin;

}

/* -------------------------------------media queries----------------------------------- */

/* targeting mobile devices */
@media only screen and (max-width: 600px) {

    /* adjusting section-2 image to fit into mobile screen */
    .section-2 .col-md-5 img {
        position: relative;
        border-radius: 30vmin;
        height: 50vmin;
        width: 50vmin;
        margin-top: 10vmin;
        margin-right: 3vmin;
    }

    /* reducing the font size and margin for h1 contents in section-2 */
    .section-2 .col-md-7 h1 {
        font-size: 8vmin;
        font-weight: bold;
        padding: 0.2em 0em;
        color: black;
        margin-top: 0vmin;
        margin-right: 8vmin;

    }

    /* reducing the font size and margin for h6 contents in section-2 */

    .section-2 .col-md-7 h6 {
        padding: 0vmin;
        letter-spacing: 0px;
        color: black;
        margin-top: 0vmin;
        margin-right: 8vmin;

    }

    /* adjusting top value for the cover content */
    .cover .content {
        position: relative;
        top: 3vmin;
    }

/* adjusting font sizr for h1 inside cover */
    .cover .content h1 {
        font-size: 2em;
    }

    /* reducing the circle height and width */
    .numbers .circle {
        position: relative;
        top: 0vmin;
        color: white;
        text-align: center;
        width: 6rem;
        height: 6rem;
        padding: 2vmin;
        border: 2px white solid;
        margin-top: 1rem;
        margin-left: 8rem;
        border-radius: 500em;
    }

    /* reducing the font size for paragraph tag inside the circles */
    .numbers .circle p {
        margin: 0.3em;
        padding: 0.2vmin;
        color: whitesmoke;
        font-weight: bolder;
        font-size: 5vmin;

    }
/* adjusting the numbers inside the circle */
    .numbers .circle h1 {
        font-size: 2em;
        font-weight: bolder;
    }
/* adjusting section-4 content image */
    .section-4 {
        position: relative;
        background-image: url(assets/bg/main4.jpg);
        /* height: 109vmin; */
        width: 100%;
        height: 100%;


    }

/* adjusting height and width of section-4 content image */

    .section-4 .col-md-5 img {
        position: relative;
        border-radius: 60vmin;
        height: 50vmin;
        width: 50vmin;
        margin-top: 1vmin;
        margin-right: 8vmin;
    }

/* adjusting  heading section in section-4  */

    .section-4 .col-md-7 h1 {
        font-size: 10vmin;
        font-weight: bold;
        padding: 0.2em 0em;
        color: whitesmoke;
        margin-top: 25vmin;
        margin-left: 3vmin;

    }

    /* adjusting  heading h6 section in section-4  */

    .section-4 .col-md-7 h6 {
        padding: 1vmin;
        letter-spacing: 4px;
        color: whitesmoke;
        margin-top: 1vmin;
        margin-right: 8vmin;
        margin-left: 3vmin;


    }

    /* adjusting the button in .section-4 */
    #bt {
        margin-left: 5vmin;
    }

/* setting fontsize and top values for review heading */
    .row .review h1 {
        position: relative;
        font-size: 3em;
        top: 10vmin;
        color: white;
    }
/* setting fontsize and top values for review heading h6*/

    .row .review h6 {
        position: relative;
        top: 10vmin;
        color: white;
        font-size: 0.8em;
    }
/* setting height,width and top values for review image */

    .row .review img{
        position: relative;
        height: 150px;
        width: 150px;
        border-radius: 200px;
        top: 5vmin;
    }

/* adjusting the news letter heading h1 */
    .row .news h1 {
        position: relative;
        font-size: 3em;
        top: 10vmin;
    }

/* adjusting the news letter content h6 */
    .row .news h6 {
        position: relative;
        top: 10vmin;
    }

    /* alligning the input group inside news letter section */
    .input-group {

        position: relative;
        top: 8vmin;
        margin: 2rem;
        width: 90vmin;

    }
}





